.DS_Store

# Latex files
chatbots.fdb_latexmk
chatbots.synctex.gz
chatbots.fls
chatbots.lof
chatbots.lot
chatbots.toc
chatbots.aux
chatbots.log
chatbots.bbl
chatbots.out
chatbots.blg
chatbots.bcf
chatbots.run.xml
